.header {
    width: 100%;
    height: 35vh;
    max-height: 35%;
    position: relative;
}

.header__container {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column;
}

.header__container h1 {
    font-size: 1.7rem;
    color: #ffffff;
    font-weight: 500;
    padding: 1rem 0;
}

.header__searchwrap {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.header__searchwrap input[type=text] {
    width: 45%;
    max-width: 800px;
    min-width: 300px;
    height: 2.3rem;
    outline-color: transparent;
    border: none;
    padding: 0 1rem;
}

.header__searchwrap input[type=text]:focus {
    border: none;
    outline: none;
}

.header__searchwrap button {
    height: 100%;
    padding: 0 1.5rem;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--very-dark-grey);
}

.header__searchwrap button:hover {
    opacity: .8;
}

.header__results {
    width: 80%;
    padding: 1.5rem;
    z-index: 9999999999999999999999999999999999999;
    position: absolute;
    left: 50%;
    bottom: 0;
    background-color: #ffffff;
    transform: translate(-50%, 50%);
    -webkit-transform: translate(-50%, 50%);
    -moz-transform: translate(-50%, 50%);
    -ms-transform: translate(-50%, 50%);
    -o-transform: translate(-50%, 50%);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    display: flex;
    justify-content: center;
    filter: drop-shadow(0 .5rem .35rem var(--dark-grey));
    -webkit-filter: drop-shadow(0 .5rem .35rem var(--dark-grey));
}

.header__results > * {
    flex: 1;
    padding: 0 1rem;
}

.header__results > *:not(:last-child) {
    border-right: 1px solid var(--dark-grey);
}

.header__results > * h3 {
    font-size: .8rem;
    color: var(--dark-grey);
    font-weight: 300;
    text-transform: uppercase;
    padding-bottom: .5rem;
}


@media only screen and (max-width: 768px) {

    html {
        font-size: 14px;
    }

    .header__results {
        flex-flow: column;
    }

    .header__results > *:not(:last-child) {
        border-right: none;
    }
}