* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --very-dark-grey: hsl(0, 0%, 17%);
    --dark-grey: hsl(0, 0%, 59%);
}

html {
    font-size: 18px;
}

body {
    font-size: 1rem;
}

body, html {
    width: 100vw;
    height: 100%;
    overflow: hidden;
    font-family: 'Rubik', sans-serif;
    position: absolute;
}

.app {
    position: relative;
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }

    html,body {
        height: 100%;
        overflow: auto;
    }
}

 /* prevent user from using landscape on really small devices */
 @media (min-device-width: 320px) and (min-device-height: 640px) and (orientation:landscape) {
    
    .alert__container {
        display: block !important;
    }
 }