.map__container {
    width: 100%;
    height: 65vh;
    position: relative;
}

.leaflet-container {
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 1;
}

.leaflet-control-container { position: absolute; right: 56px; bottom: 105px; }

.leaflet-control-attribution, .leaflet-control-scale-line { display: none !important; }

@media only screen and (max-width: 768px) {
    .map__container {
        width: 100%;
        height: 60vh;
        position: relative;
    }
}